---
import Layout from "../layouts/Layout.astro";
import DownArrowIcon from "@/icons/DownArrow.astro";
import LinkedinIcon from "@/icons/Linkedin.astro";
import WhatsAppIcon from "@/icons/WhatsApp.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import GoogleIcon from "@/icons/Google.astro";

import ThemeButton from "../components/ThemeButton.astro";
import SocialMediaButton from "../components/SocialMediaButton.astro";
import TechnologiesBox from "../components/TechnologiesBox.astro";
---

<Layout title="Piero Web Portfolio">
  <div class="relative flex-col flex h-screen justify-center items-center">
    <header class="absolute right-0 top-0 text-cyan-400 p-4 w-20">
      <ThemeButton />
    </header>
    <div class="relative -top-24 flex items-center px-20">
      <div class="flex flex-col pr-24 gap-12">
        <h1 class="text-7xl text-cyan-400">Hola, mi nombre es Piero</h1>
        <p class="text-white text-3xl">
          Soy un Full Stack Web Developer. Soy una persona apasionada por el
          conocimiento y la innovación.
        </p>
        <!--Social Media Buttons -->

        <ul class="flex flex-row gap-12 justify-center">
          <SocialMediaButton
            href="https://linkedin.com/in/piero-aparcana-alvarez"
          >
            <LinkedinIcon />
          </SocialMediaButton>
          <SocialMediaButton href="https://github.com/PieroGiovanni">
            <GitHubIcon />
          </SocialMediaButton>
          <SocialMediaButton href="https://wa.me/+51948614445">
            <WhatsAppIcon />
          </SocialMediaButton>
          <SocialMediaButton href="mailto:pierogiovannidev@gmail.com">
            <GoogleIcon />
          </SocialMediaButton>
        </ul>
      </div>
      <picture class="shrink-0 w-[350px] h-[350px]">
        <img class="rounded-full border-[6px] border-cyan-400" src="am3.jpg" />
      </picture>
    </div>
    <div
      class="text-cyan-400 justify-center flex w-32 absolute bottom-0 pb-20 animate-pulse"
    >
      <DownArrowIcon />
    </div>
  </div>
  <!--About me -->
  <div class="flex flex-col p-20 gap-12">
    <h2 class="text-cyan-400 text-5xl">Sobre mi</h2>
    <div class="flex flex-col text-white gap-6 text-xl">
      <p>
        Soy un Ingeniero de Sistemas con una sólida formación en el desarrollo
        aplicaciones. Mi experiencia abarca tanto el frontend como el backend,
        proporcionándome una visión completa del ciclo de vida del desarrollo de
        software. Mi habilidad para resolver problemas complejos, combinada con
        mi pensamiento intuitivo, me ha permitido superar con éxito diversos
        desafíos.
      </p>
      <p>
        Soy un profesional autodidacta e innovador, con un enfoque centrado en
        brindar un servicio excepcional a los usuarios. Mi objetivo es aplicar
        mis habilidades técnicas y mi pasión por la resolución de problemas para
        desarrollar soluciones de software innovadoras y eficientes.
      </p>
    </div>
  </div>
  <!--Tecnologías -->
  <div class="flex relative flex-col p-20 gap-12">
    <h2 class="text-cyan-400 text-5xl">Tecnologías</h2>
    <TechnologiesBox />
  </div>
</Layout>

<style></style>
