---
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({
  currentLocale,
});
---

<div
  class="flex flex-col gap-6 text-base md:text-xl text-pretty"
  slot="content"
>
  <p>
    {i18n.SECTION.ABOUT_ME.PARAGRAPH[1]}
  </p>
  <p>
    {i18n.SECTION.ABOUT_ME.PARAGRAPH[2]}
  </p>
  <p>
    {i18n.SECTION.ABOUT_ME.PARAGRAPH[3]}
  </p>
  <p>
    {i18n.SECTION.ABOUT_ME.PARAGRAPH[4]}
  </p>
</div>
