---
interface Props {
  class?: string;
  id?: string;
  name?: string;
}

const { class: className, id, name } = Astro.props;
---

<section
  id={id}
  class=`${className} w-full mx-auto lg:w-[816px] pb-24 flex flex-col gap-16 justify-center`
>
  <div class="flex items-center gap-4">
    <hr class="grow border-2 border-cyan-600 dark:border-cyan-400" />
    <div class="flex gap-2">
      <slot name="icon" class="size-10 font-bold" />
      <h2 class="relative -top-[2px] text-4xl font-semibold">{name}</h2>
    </div>
    <hr class="grow border-2 border-cyan-600 dark:border-cyan-400" />
  </div>

  <slot name="content" {...Astro.props} />
</section>
