---
interface Props {
  class?: string;
  id?: string;
  name?: string;
}

const { class: className, id, name } = Astro.props;
---

<section
  id={id}
  class=`${className} w-full mx-auto lg:w-[1000px] lg:pb-24 pb-16 flex flex-col lg:gap-16 gap-8 justify-center animate-fade`
>
  <div class="flex items-center gap-4">
    <hr class="grow border-2 border-cyan-600 dark:border-cyan-400" />
    <div class="flex gap-2 items-center">
      <slot name="icon" />
      <h2 class="relative text-3xl md:text-4xl font-semibold">
        {name}
      </h2>
    </div>
    <hr class="grow border-2 border-cyan-600 dark:border-cyan-400" />
  </div>

  <slot name="content" {...Astro.props} />
</section>
<style>
  section {
    animation-range: entry 15% cover 22%;
    animation-timeline: view();
  }
</style>
