<ol class="relative border-s dark:border-cyan-400 border-cyan-500">
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-500 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >Enero 2021 - Actualidad</time
    >
    <h3 class="text-lg font-semibold text-cyan-500 dark:text-cyan-400">
      Desarrollador Web Freelancer
    </h3>
    <ul class="text-base text-black list-disc ml-4 text-pretty dark:text-white">
      <li>
        <p>
          Desarrollé aplicaciones web atractivas utilizando tecnologías
          modernas.
        </p>
      </li>
      <li>
        <p>
          Implementé soluciones eficientes y escalables que impulsaron el
          crecimiento y optimizaron las operaciones comerciales de diversas
          empresas.
        </p>
      </li>
      <li>
        <p>
          Asumí la responsabilidad del ciclo de vida del desarrollo de diversos
          proyectos, desde la conceptualización e implementación del servidor y
          la API, hasta el diseño de la interfaz de usuario.
        </p>
      </li>
    </ul>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-500 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >Marzo 2022 - Noviembre 2022</time
    >
    <h3 class="text-lg font-semibold text-cyan-500 dark:text-cyan-400">
      Técnico de Soporte Informático en COPRODECA
    </h3>
    <ul class="text-base list-disc ml-4">
      <li>
        <p>
          Colaboré en la resolución de problemas técnicos y brindé soporte a
          usuarios.
        </p>
      </li>
    </ul>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-500 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >Diciembre 2013 - Noviembre 2020</time
    >
    <h3 class="text-lg font-semibold text-cyan-500 dark:text-cyan-400">
      Asistente de Sistemas en SOLVIV
    </h3>

    <ul class="text-base list-disc ml-4">
      <li>
        <p>
          Desarrollé y mantuve aplicaciones web para el análisis y gestión de
          datos.
        </p>
      </li>
      <li>
        <p>
          Participé en la implementación y administración de sistemas
          informáticos.
        </p>
      </li>
      <li>
        <p>
          Colaboré en la resolución de problemas técnicos y brindé soporte a
          usuarios.
        </p>
      </li>
    </ul>
  </li>
</ol>
