---
import { getI18N } from "../i18n";
import LogoIcon from "../icons/Logo.astro";
import LanguageButton from "./LanguageButton.astro";
import ThemeButton from "./ThemeButton.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<header
  class="flex justify-center items-center mx-auto h-9 fixed top-0 backdrop- py-1 w-full max-w-[1000px] z-10 right-0 left-0 backdrop-brightness-50 sm:backdrop-brightness-100 sm:bg-transparent"
>
  <nav
    class="border-2 border-cyan-600 rounded-full px-1 py-1 hidden flex-row dark:bg-slate-950/50 backdrop-blur-2xl dark:border-cyan-400 bg-slate-950/5 sm:flex"
  >
    <a
      class="dark:hover:bg-cyan-400/50 hover:bg-cyan-600/30 rounded-full px-3 transition"
      href="#">{i18n.HEADER[1]}</a
    >
    <a
      class="hover:bg-cyan-400/50 rounded-full px-3 transition"
      href="#about-me">{i18n.SECTION.ABOUT_ME.TITLE}</a
    >
    <a
      class="hover:bg-cyan-400/50 rounded-full px-3 transition"
      href="#experience">{i18n.SECTION.EXPERIENCE.TITLE}</a
    >
    <a
      class="hover:bg-cyan-400/50 rounded-full px-3 transition"
      href="#projects">{i18n.HEADER[4]}</a
    >
  </nav>

  <a href="/" aria-label="Home" class="absolute sm:left-4 left-20">
    <LogoIcon class="size-9" />
  </a>
  <div class="flex items-center sm:gap-2 gap-4 absolute sm:right-2 right-16">
    <LanguageButton />
    <ThemeButton />
  </div>
</header>
