---
import ReactIcon from "@/icons/technologies/React.astro";
import AstroIcon from "@/icons/technologies/Astro.astro";
import AngularIcon from "@/icons/technologies/Angular.astro";
import Technology from "./Technology.astro";
import TypeScript from "../icons/technologies/TypeScript.astro";
import JavaScript from "../icons/technologies/JavaScript.astro";
import HTML from "../icons/technologies/HTML.astro";
import CSS from "../icons/technologies/CSS.astro";
import Python from "../icons/technologies/Python.astro";
import CSharp from "../icons/technologies/CSharp.astro";
import NodeJs from "../icons/technologies/NodeJs.astro";
import NextJs from "../icons/technologies/NextJs.astro";
import ChakraUi from "../icons/technologies/ChakraUi.astro";
import ExpressJs from "../icons/technologies/ExpressJs.astro";
import PostgreSQL from "../icons/technologies/PostgreSQL.astro";
import Prisma from "../icons/technologies/Prisma.astro";
import Shadcn from "../icons/technologies/Shadcn.astro";
import URQL from "../icons/technologies/URQL.astro";
import SQLServer from "../icons/technologies/SQLServer.astro";
---

<div
  class="self-center border-[6px] rounded-xl border-cyan-400 h-[800px] w-[800px] grid grid-cols-6 p-2"
>
  <Technology name="React">
    <ReactIcon />
  </Technology>
  <Technology name="Angular">
    <AngularIcon />
  </Technology>
  <Technology name="Astro">
    <AstroIcon />
  </Technology>
  <Technology name="TypeScript">
    <TypeScript />
  </Technology>
  <Technology name="JavaScript">
    <JavaScript />
  </Technology>
  <Technology name="HTML">
    <HTML />
  </Technology>
  <Technology name="CSS">
    <CSS />
  </Technology>
  <Technology name="Python">
    <Python />
  </Technology>
  <Technology name="C#">
    <CSharp />
  </Technology>
  <Technology name="Node.js">
    <NodeJs />
  </Technology>
  <Technology name="Next.js">
    <NextJs />
  </Technology>
  <Technology name="Chakra-Ui">
    <ChakraUi />
  </Technology>
  <Technology name="Express.js">
    <ExpressJs />
  </Technology>
  <Technology name="PostgreSQL">
    <PostgreSQL />
  </Technology>
  <Technology name="Prisma">
    <Prisma />
  </Technology>
  <Technology name="shadcn">
    <Shadcn />
  </Technology>
  <Technology name="URQL">
    <URQL />
  </Technology>
  <Technology name="SQLServer">
    <SQLServer />
  </Technology>
</div>
